@{
  Layout = "_Layout";
}

@using BoardGame.Models;
@model List<BoardGame.Models.Game>;

<div class="row m-3 ">
  <div class="col-sm-8 mx-auto ">
    <div class="card p-4 list">
      <h1 class="text-center card-title">List of Board Games</h1>
      <hr />

      @if (@Model.Count == 0)
      {
        <h3>No games have been added...</h3>
      }

      @foreach (Game game in Model)
      {
        <h3 class="card-text mx-3">@Html.ActionLink($"{@game.Name}", "Details", new { id = game.GameId }) |
          @game.Genre.Name</h3>
      }
    </div>
  </div>
</div>
<div class="row">
  <div class="text-center">
    <button>@Html.ActionLink("Add new game", "Create")</button>
    <button>search for game? (dead)</button>
  </div>
</div>