@{
  Layout = "_Layout";
}
<div id="homePage">
<h2>Welcome to Board Genie!</h2>

<p>Your ultimate destination for board game exploration! Dive into the enchanting realm of tabletop adventures with our curated collection organized by genre, allowing you to effortlessly discover and search for games that match your preferences. Whether you're a strategic mastermind, a party game enthusiast, or a storyteller at heart, Board Genie is here to grant your gaming wishes. Let Board Genie be your guide to an immersive and joyful board gaming experience. Your tabletop adventure awaits- let the magic begin! 🎲✨</p>
</div>